<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{{COMPANY_NAME}}} | {{{PRODUCT_NAME}}}</title>
    <style type="text/css">
    * {
      padding: 0;
      margin: 0;
    }
 
    body {
      height: 100%;
      width: 100%;
      text-align: center;
    }
 
    div#unityContainer {
      width: 100%;
      height: 100%;
    }
    </style>
  </head>
  <body style="text-align: center">
    <div id="unityContainer">
      <canvas id="unity-canvas" style="width: 100%; height: 100%; background: #000000"></canvas>
    </div>
    <script src="Build/{{{LOADER_FILENAME}}}"></script>
    <script src="TemplateData/Clap.js"></script>
    <script>
      var gameInstance = createUnityInstance(document.querySelector("#unity-canvas"), {
        dataUrl: "Build/{{{DATA_FILENAME}}}",
        frameworkUrl: "Build/{{{FRAMEWORK_FILENAME}}}",
        codeUrl: "Build/{{{CODE_FILENAME}}}",
        symbolsUrl: "Build/{{{SYMBOLS_FILENAME}}}",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "{{{COMPANY_NAME}}}",
        productName: "{{{PRODUCT_NAME}}}",
        productVersion: "{{{PRODUCT_VERSION}}}",
      }).then((unityInstance) => {
        window.unityInstance = unityInstance;
      });
    </script>
  </body>
</html>